:root {
    --ms-header-height: 70px;
    --ms-sidebar-width: 80px;
    --ms-white-col: #ffffff;
    --ms-sidebar-bg-col: #0c1d32;
    --ms-main-header-bg-col: #3870e0;
    --ms-main-bg-col: #f8f9fa;
    --ms-main-coltitle-bg-col: #f7f7f7;
    --ms-classicon-bg-col: #e16e59;
    --ms-btn-done-bg-col: #408558;
    --ms-btn-process-bg-col: #f5c344;
    --ms-btn-failed-bg-col: #cb444a;
    --ms-input-searchbar-bg-col: #e5e5e5;
    --ms-text-white-col: #ffffff;
}

@media screen and (min-width: 992px) {
    :root {
        --ms-sidebar-width: 140px; 
    }
}


/* COMMON */
img {
    max-width: 100%;
}

.ms_container {
    /* width: 100%;
    height: 100vh; */
    /* debug */
    /* background-color: antiquewhite; */
}

/* DEBUG */
[class*="col-"] {
    /* border: 1px solid blue; */
    min-height: 100px;
}


/* UTILITIES */


/* HEADER */
.ms_header {
    height: var(--ms-header-height);
    background-color: var(--ms-white-col);
    /* debug */
    /* border: 1px solid grey; */
}

.ms_searchbar #search, .ms_searchbar .input-group-text{
    background-color: var(--ms-input-searchbar-bg-col) !important;
    border-left: none;
}

.ms_actions .fa-bell {
    color: gold;
}

/* MAIN SECTION */
.ms_main {
    width: 100%;
    height: calc(100% - (var(--ms-header-height)));
    /* debug */
    /* border: 1px solid lightblue; */
}

.ms_sidebar {
    /* height: 100%; */
    width: var(--ms-sidebar-width);
    background-image: url(../img/sidebar-bg.png);
    background-color: var(--ms-sidebar-bg-col);
    background-size: cover;
    background-position: bottom;
}

.ms_main-window {
    width: calc(100% - (var(--ms-sidebar-width)));
    /* height: 100%; */
    /* debug */
    /* border: 1px solid lightcoral; */
}

.ms_main-window-header {
    background-color: var(--ms-main-header-bg-col);
    color: var(--ms-text-white-col);
}


/* CLASSES TABLE SECTION*/
.ms_table {
    /* debug */
    min-height: 100px;
    border: 1px solid green;
}



/* FOOTER */
